/* CSS Document */
@charset "utf-8";
body, html {width:100%;height:100%;margin:0;padding:0}
body{font:normal 12px Tahoma, Arial, sans-serif; color:#333; background-color:#FFF;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,table,td,th,img,div{margin:0;padding:0;border:0;}
ul,ol{list-style-type:none;}
li{list-style:none;}
a:link{color:#36F;text-decoration:none;}
a:visited{color:#36F;}
a:hover{text-decoration:none;}
select,input,img,select{vertical-align:middle;}
.clearit{clear:both;} 
table{border-collapse:collapse;}
.none {display:none;}
.ab {position:absolute;}
.left {float:left;display:inline;}
.right {float:right;display:inline;}
.tc {text-align:center;}
.bold {font-weight:bold;}
.ib{
	display:inline-block;
	*display:inline;
	*vertical-align:middle;
	zoom:1;
}
.p5{
	padding: 5px;
}
.p10{
	padding: 10px;
}
.p20{
	padding: 20px;
}
.p30{
	padding: 30px;
}
.p40{
	padding: 40px;
}

h1,h2,h3,h4{
	font-size:12px;
	font-weight:100;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}