<form method="post">
{%csrf_token%}
<input type="hidden" name="entry_id" value="{{form.instance.pk}}">
    {{ form.media }}
    <textarea cols="40" id="id_content" name="content" rows="10">
	{{ form.instance.content }}
	</textarea>
	<script type="text/javascript">
  jQuery(document).ready(function(){
    $("#id_content").redactor({"lang": "en", "fileUpload": "/redactor/upload/file/", "imageUpload": "/redactor/upload/image/"});
  });

  $('#redactor').redactor({
    plugins: ['fontcolor'],
    buttons: [
        'bold',
        'italic',
        'underline',
        'formatting',
        'image',
        'link',
        'unorderedlist',
        'orderedlist',
        'alignment',
        '|',
        'html'
    ]
});

</script>
    <input type="submit" value="Submit" />
</form>    
